.serif {
    font-family: "DM Serif Text", serif;
    font-style: normal;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;   
}

h3 {
    font-size: 30px;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    line-height: 2;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 1em;
}

.stock {
    line-height: 1;
    padding: 0.4rem 0.8lrem;
    margin: 0;
    background-color: white;
    border-radius: 7px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
}

#intro {
    background-color: #effaff;
}

#section-compare {
    background-color: #f3ffed;
}

#section-how-it-works {
    background-color: #effaff;
}

.subtitle {
    text-transform: uppercase;
}

.quote {
    font-weight: lighter;
}

.testimonial {
    background-color: #effaff;
    font-family: serif;
    font-weight: lighter;
}

ul.dedent {
    padding-inline-start: 0;
}

ul.alt_task {
    list-style: none;
}

ul.alt_task > li {
    display: flex;
    flex-direction: row;
}

ul.alt_task > li::before {
    font-family: 'Material Symbols Outlined';
    content: 'task_alt';
    font-size: 34px;
}

ul.alt_task p {
    padding-left: 0.5em;
    margin-block-start: 0.25em;
    margin-block-end: 1.5em;
}

ul.included {
    list-style: none;
}

ul.included > li {
    display: flex;
    flex-direction: row;
}

ul.included span.material-symbols-outlined {
    font-size: 34px;
}

ul.included div {
    flex-direction: column;
}

ul.included p {
    padding-left: 0.5em;
    margin-block-start: 0.25em;
    margin-block-end: 1em;
}

.linkbox {
    background-color: white;
    border-radius: 10px;
    /* border-color: #f8c728; */
    border: solid 0.6mm #f8c728;
    padding: 1em;
    margin: 2em 0 2em 0;
    font-size: 18px
}

.linkbox a {
    display: block;
    background-color: #f8c728;
    color: black;
    border-radius: 40px;
    padding: 1em 2em 1em 2em;
    text-decoration-line: none;
}

details {
    border-top: solid lightgrey thin;
    padding: 1em 0 1em 0;

    &:last-of-type {
        border-bottom: solid lightgrey thin;
    }
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;

    &::after {
        content: '\2303';
        transform: rotate(180deg);
    }

    [open] &::after {
        content: '\2303';
        transform: rotate(0deg);
    }

}

details summary::-webkit-details-marker {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display:flex;
    flex-direction: column;
}

div.compare-box {
    margin: 0.1em;
    padding: 1.25em;
    background-color: #f9fff6;
}

div.compare-box:first-child {
    background-color: #fefffd;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 0 10px 0px lightgrey;
}

div.compare-box:last-child {
    border-radius: 0 15px 15px 0;
}

.rounded-small {
    border-radius: 10px;
}

.rounded-medium {
    border-radius: 15px;
}

.rounded-large {
    border-radius: 20px;
}

.quote {
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 0 0 10px 0px lightgrey;
    margin-top: 1em;
}

.quote-glyph {
    font-size: 3em;
    margin: 0 0 -1em 0;
    padding: 0;
}

.focus-box {
    background-color: #fdffff;
    padding: 1em;
}

.quote-bubble {
    background-color: white;
    padding: 1rem;
    border-radius: 15px 0 15px 15px;
    position: relative;
    width: 300px;
    line-height: 1.6;
    left: 30px;
    top: -50px;
    font-size: 18px;
}

.quote-bubble::before {
    content: " ";
    border-bottom: 40px solid white;
    border-left: 30px solid transparent;
    position: absolute;
    top: -40px;
    right: 0px;

}

header {
    background-color: color-mix(in srgb, white, transparent 10%) ;
    backdrop-filter: blur(10px);
    margin: 0;
    position: sticky;
    top: 0px;
}

header h1 {
    padding: 1rem;
    line-height: 1;
}
